@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-black text-white px-5;
    font-family: "Poppins", sans-serif;
  }
}
@layer components {
  .page-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
  .app {
    position: relative;
  }
  .app::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .text-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .btn-primary {
    @apply px-4 py-3 flex items-center justify-center gap-2 h-[60px] w-[180px] cursor-pointer bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
  .banner-social-laptop {
    @apply flex-row -bottom-16 left-auto;
  }
  .banner-social-tablet {
    @apply flex-row -bottom-16 left-auto;
  }
  .about-mobile {
    @apply flex-col gap-4;
  }
  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #fff;
  }
  .swiper .swiper-button-next::after,
  .swiper .swiper-button-prev::after {
    font-size: unset;
  }
}
